<div class="w-[calc(100%-5rem)] h-fit mx-10 px-1 my-2 flex hover:bg-background-light rounded-md">
    <img src="https://cdn.discordapp.com/avatars/538413488146481166/914f79b7e42d863147f51caa1cb2c50a.webp?size=128" class="w-10 h-10 mr-3 mt-[3px] rounded-full">
    <div class="flex flex-col items-start">
        <div>
            <span class="font-bold mr-3">Sehatan</span>
            <span class="text-textColor-unimportant font-light">Wczoraj o 13:42</span>
        </div>
        <span>Giga wiadomość ale fajnie !!!</span>
    </div>
</div>
