<div class="flex w-screen h-screen justify-center items-center flex-col">
    <div #monkey class="monkey" [class.spin]="spinAnimation">
        <div #leftEye [style.left]="leftEyePosition.left" [style.top]="leftEyePosition.top" class="leftEye"></div>
        <div #rightEye [style.left]="rightEyePosition.left" [style.top]="rightEyePosition.top" class="rightEye"></div>
        <div #leftArm [class.moveArm]="leftArmOverHead" class="leftArm"></div>
        <div #rightArm [class.moveArm]="rightArmOverHead" class="rightArm"></div>
    </div>
    
    <div class="bodies" style="position: relative;">
        <div #login class="body" [style.zIndex]="loginInputIndex" [class.spin]="spinAnimation">
            <div class="divider"></div>
            <div class="content">
                <span class="name">Login</span>
                <div class="input">
                    <div>Email</div>
                    <input #emailLogin type="text" (mousedown)="onInput(emailLogin.value)" (input)="onInput(emailLogin.value)" (focusout)="onFocusOut()">
                </div>
                <div class="input">
                    <div>Password</div>
                    <input #passwordLogin type="password" (focus)="onFocus()" (focusout)="onFocusOut()">
                </div>
                <div class="button" (click)="loginAccount(emailLogin.value, passwordLogin.value)">Click to login</div>
                <div class="changeType" (click)="changeType()">Don't have an account?</div>
            </div>
        </div>
        
        <div #register class="body" [style.zIndex]="registerInputIndex" [class.spin]="spinAnimation">
            <div class="divider"></div>
            <div class="content">
                <span class="name">Register</span>
                <div class="input">
                    <div>Email</div>
                    <input #emailRegister type="text" (input)="onInput(emailRegister.value)" (focusout)="onFocusOut()">
                </div>
                <div class="input">
                    <div>Password</div>
                    <input #passwordRegister type="password" (focus)="onFocus()" (focusout)="onFocusOut()"
                        (input)="passwordInput(passwordRegister.value)">
                    <div class="passwordMeter">
                        <div #firstBar  [style.backgroundColor]="firstBarColor" class="firstBar"></div>
                        <div #secondBar [style.backgroundColor]="secondBarColor"  class="secondBar"></div>
                        <div #thirdBar  [style.backgroundColor]="thirdBarColor" class="thirdBar"></div>
                        <div #fourthBar [style.backgroundColor]="fourthBarColor"  class="fourthBar"></div>
                    </div>
                </div>
                <div class="input">
                    <div>Confirm password</div>
                    <input #confirmPasswordRegister type="password" (focus)="onFocus()" (focusout)="onFocusOut()">
                </div>
                <div class="button"(click)="registerAccount(emailRegister.value, passwordRegister.value, confirmPasswordRegister.value)">Click to register</div>
                <div class="changeType" (click)="changeType()">Already have an account?</div>
            </div>
        </div>
    </div>
</div>